<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>头部视图随拉拽而变化.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>74E6AD811E1E5A66002900B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74E6AD9A1E1E5A66002900B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74E6ADA51E1E5A66002900B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
